dist: xenial
language: python
python:
  - "2.7"
  - "3.7"
install:
  - pip install ansible
before_script:
  - ansible --version
  - ansible-playbook --syntax-check ./tests/test.yml -i ./tests/hosts
script:
  - ./tests/run
