---
- include: debian.yml
  when: ansible_distribution == "Debian" or ansible_distribution == "Ubuntu"
- include: centos.yml
  when: ansible_distribution == "Centos" or ansible_distribution == "Red Hat Enterprise Linux"
