apikey = "{{ mackerel_agent_apikey }}"
{% if mackerel_agent_pidfile is defined %}
pidfile = "{{ mackerel_agent_pidfile }}"
{% endif %}
{% if mackerel_agent_root is defined %}
root = "{{ mackerel_agent_root }}"
{% endif %}
{% if mackerel_agent_verbose is defined %}
verbose = {% if mackerel_agent_verbose -%} true {% else -%} false {%- endif %}
{% endif %}
{% if mackerel_agent_display_name is defined %}
display_name = "{{ mackerel_agent_display_name }}"
{% endif %}

{% if mackerel_agent_roles is defined %}
roles = [
{% for role in mackerel_agent_roles %}
  "{{ role }}",
{% endfor %}
]
{% endif %}

{% if mackerel_agent_include is defined %}
include = "{{ mackerel_agent_include }}"
{% endif %}

{% if mackerel_agent_plugins is defined %}
{% for key, command in mackerel_agent_plugins.items() %}
[plugin.metrics.{{ key }}]
command = "{{ command }}"
{% endfor %}
{% endif %}

{% if mackerel_check_plugins is defined %}
{% for key, value in mackerel_check_plugins.items() %}
[plugin.checks.{{ key }}]
{% if value.command is defined %}
command = "{{ value.command }}"

{% if value.notification_interval is defined %}
notification_interval = {{ value.notification_interval }}
{% endif %}
{% if value.max_check_attempts is defined %}
max_check_attempts = {{ value.max_check_attempts }}
{% endif %}
{% if value.check_interval is defined %}
check_interval = {{ value.check_interval }}
{% endif %}
{% if value.prevent_alert_auto_close is defined %}
prevent_alert_auto_close = {{ value.prevent_alert_auto_close | bool | lower }}
{% endif %}

{% else %}{# if value.command is defined #}
command = "{{ value }}"
{% endif %}{# if value.command is defined #}
{% endfor %}{# for key, value in mackerel_check_plugins.items() #}
{% endif %}{# if mackerel_check_plugins is defined #}
